body {
  padding: 50px;
  background-color: #f9f9f9;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 1000px;
}

.App {
  text-align: justify;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-logo {
  height: 33vmin;
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
}

h2, h3, h4, .list {
  font-size: 1.5rem;
  font-weight: 400;
}

.list {
    list-style-type: none;
}

.list-item > * {
    display: inline;
}

.list-item img{
  width: 4rem;
  margin-left: 1rem;
}

p {
  text-align: center;
}

.network-icon img{
  width: 5rem;
  padding: 0 15px 10px;
  border-bottom: 10px solid transparent;
}

.network-icon img:hover {
  border-color: orange;
}

.list-item > * {
    display: inline;
}

.list {
    list-style-type: none;
}

@media(max-width: 500px) {
    body {
        padding: 20px;
    }

    h2, h3, h4 {
        font-size: 1.4rem;
    }

    ul {
        padding: 0;
    }

    li {
        padding: 5px 0;
    }
}
