.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.list{
  list-style-type: none;
}
.list-item img{
  width: 4em;
  margin-left: 3px;
}

.network-icon img{
  width: 10em;
}

.network-icon{
  margin-right: 5px;
}

.list-item h3{
  display: inline;
}

.App-header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
